<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Extract Tweets</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark p-4">
        <div class="container-fluid">
            <div class="text-white mb-0 h4">Extract Tweet</div>
            <a href="./" class="btn btn-outline-light mt-3">Back To Home</a>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-5 flex justify-content-evenly">
            <div class="col-8">
                <div class="display-6 text-primary">
                    Extracted Tweeter Data
                </div>
                <div id="data" class="overflow-auto mt-3" style="height: 50vh;">
                    {{data}}
                </div>
            </div>
            <div class="col-2">
                <a id="download" type="submit" value="Extract" class="btn btn-outline-primary mt-3">Download JSON
                    Data</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script>
        var obj = '{{data}}';

        var obj1 = obj.replaceAll("&#39;", " ");
        var data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(obj1));

        var a = document.getElementById('download');
        a.href = 'data:' + data;
        a.download = 'data.json';
        a.innerHTML = 'download JSON';
    </script>
</body>

</html>


<!-- <script>
        var obj = '{{data}}';
    
        var obj1 = obj.replaceAll("&#39;", " ");
        var data = encodeURIComponent(JSON.stringify(obj1));

        var a = document.createElement('a');
        a.href = 'data:' + data;
        a.download = 'data.json';
        a.innerHTML = 'download JSON';

        var container = document.getElementById('data');
        container.
    </script> -->